body {
  margin: 0px;
}
input {
  background-color: lightblue;
  width: 500px;
}
#date {
  background-color: lightblue;
  width: 170px;
  margin: 10px;
}

input[type="submit"] {
  background-color: blue;
  color: azure;

  width: 100px;
}

footer {
  margin: 0px;
}
